<dialog class="modal-danger" id="modal-danger" open>
    <div class="icono-modal-danger">
        <i class='bx bx-error' ></i>
    </div>
    <h2>Acceso denegado</h2>
    <p>No tienes los permisos para entrar a esta sección</p>
</dialog>

<style>

.modal-danger {
    border: 2px solid red;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto auto;
    position: relative;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    box-sizing: border-box;

}

.modal-danger h1 {
    margin-top: 20px;
}
.icono-modal-danger{
    font-size: 100px;
    margin: 0;
    padding: 0;
    color: red;
}

.modal-danger button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


</style>